/* /!\ attention les commentaire en css ne se font pas de la même maniere qu'en HTML */
/* les développeur ont l'habitude dutiliser un reset qui va uniformiser la mise en page, on en trouve quelques exemples sur internet */
/* prenez l'habitude de tester votre fichier style en mettant un backgrounde-color sur votre balise body */
selecteur{
    propriété: valeur; /*le point virgule est inspensable pour ne pas avoir d'erreur, prenez l'habitude de le mettre tout le temps */
}

.class{ /* on peut mettre plusieurs class pour une balise dans le HTML et on peut utiliser une même class pourr plusier balises */
    propriété: valeur;
    propriété: valeur;
    propriété: valeur;
    
}

#id{
    /* on n'utilise les id de manière unique, on ne donne pas le même nom d'id à plusieurs balises, les id sont utiliseés aussi pour faire de ancres*/
    propriété: valeur;
}

.class1, .class2, .class3{
    /* on sépare les selecteurs par des virgules pour en appliquer le même style */
    propriété: valeur;
}

.class .class2 .class3{
    /* ici on parle de class3 qui est dans la class2, qui est aussi dans la class1 (emboitement) */
    propriété: valeur;
}
