#conteneur{
    width: 960px;
    background-color: paleturquoise;
    color: white;
    margin: 0 auto;
}

header{
    background-color: tan;
    height: 60px;
    text-align: center;
    line-height: 60px;/* définit la hauteur d'une boîte de ligne. Il est couramment utilisé pour définir la distance entre les lignes de texte */
}

nav{
    background-color: gray;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

section{
    height: 500px;
    background-color: gray;
    margin: 10px;
}

.GZ{
    border: 1px solid;
    float: right;
    height: 248px;
    width: 468px;
}

.PZ{
    border: 1px solid;
    float: left;
    height: 122px;
    line-height: 122px;
    text-align: center;
    width: 232px;
}
.couleur_1{
    background: peachpuff;
}

.couleur_2{
    background: #7a9eb1;
}

.couleur_3{
    background: #415865;
}

.couleur_4{
    background: #ffe1b3;
}
footer {
    background: silver;
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.clear {
    clear: both
}