body{
    font-family: sans-serif;
    font-size: 1.5em;
}

.left, .right{
    margin-top: 5em;
}

ul{/* sélectionne toutes les listes <ul> */
    list-style: none; /* supression des puces des listes */
    float: left;/* effet flottant à gauche */
    margin: 0;/* marges extérieurs */
    padding: 0;/* marges intérieurs */
}

.left ul{
    margin: 3.2em 0 0 0;
}

.left ul li{
    /* tous les <li> de la liste <ul> ayant la class .left */
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 1em;
    width: 10em;
}

.left ul li:first-child{
    /* premier <li> de la liste <ul> ayant la class .left */
    border-top: 1px solid #ccc;
}

ul.liste li{
    /* tous les <li> de la liste <ul> ayant la class .liste */
    border-left: 1px solid #ccc;
}

.right .change ul li{
    /* tous les <li> de la liste <ul> ayant la class .change elle-même enfant de la class .right */
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 1em; /* p1em */
    width: 10em;/* w10em */
    text-align: center;
}

.right .change ul li:first-child{
    /* premier <li> de la liste <ul> ayant la class .change, elle-même enfant d'un class .right */

    background-color: #5d5d5d;
    color: #fff;
    font-weight: bold;/* style de la police: gras */
}
.right .change ul li:last-child{
    /* dernier <li> de la liste <ul> ayant la class .change, elle même enfant d'une classe right */
    border-bottom: 1px solid #ccc;
}

/* effets de transition au survols de la souris */

.right .change ul:hover{
    /* au survols de la souris (pseudo-class:hover) on sélectinne la liste <ul> ayant la class .change elle-même enfants de la class .right */
    background: linear-gradient(#df8686, #a98383);
    cursor: pointer;
    /* changement de l'affichage du curseur */
    transform: scale(1.4); /* échelle de zoom */
    transition-duration: 2s;    /* la durée de l'effet de la transition */
}
.right .change ul:hover li:first-child{
    /* au survol de la souris on sélectionne le 1er <li> de la liste <ul> ayant la class .change, elle même enfant de la classe .right */
    background-color: #000;
}

.change:hover #premium{
    color: red;
    
}



.change:hover #gold{
    color: goldenrod;
}
.change:hover #silver{
    color: silver;
}

.clear{clear: both;}