.container {
    width: 1300px;
    margin: 0 auto;
}

div {
    margin: 0;
}

header {
    background-color: #8E3557;
}

nav {
    background-color: #4A1A2C;
    height: 50px;
    /* 1em=16px */
    padding-left: 2em;
    line-height: 45px;
    /* on peut remplacer line-height par margin(top et bottom)  */
}

nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 2em;
    border-right: 1px solid #fff;
    padding-right: 2em;

}

footer {
    background-color: palevioletred;
    height: 100px;
}

nav a:last-child {
    /* il va selectionner le dernier enfant qui se trouve à l'interieur de nav */
    border-right: none;
    /* supprime la bordure de droite */
}

section {
    /* on applique display:flex sur le parent */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}

section div {
    /* sélectionne toutes les div qui se trouvent à l'interieur de section */
    width: 32vh;
    /* l'equvalent de 46% de largeur */
    height: 50vh;
}

.zone1 {
    background: linear-gradient(to left, #40a497, #6840a4);
}

.zone4 {
    background: linear-gradient(to right, #40a497, #6840a4);
}

.zone2,
.zone3 {
    background-color: #40a497;
}

main {
    border: 1px solid black;
}

.zone3,
.zone4 {
    margin-top: 15px;
}

/* appel des medias queries */

@media screen and (max-width: 768px) {

    /*j'annonce que la taille de l'ecran est changé*/
    .container {
        width: 90%;

    }

    header {
        background-color: #568e35;
    }

    section div {
        width: 80vh;
        /* chaque div va prendre 80% de l'espace disponible*/
    }

    section {
        flex-direction: column;
        /* on peut changer l'axe principal de flex pour avoir l'affichage en bloc pour chaque div */
        align-items: center;
    }

    nav a {
        display: block;
        font-size: 16px;
        border: none;

    }

    nav {
        height: 150px;
        line-height: 30px;
    }

    .zone2 {
        margin-top: 15px;
        background-color: orange;
    }

    footer {
        background-color: #568e35;
    }
}

/* la fin de la fourchette tablette max-width: 786px */

@media screen and (min-width:992px) and (max-width:1200px) {

    /* le debut de nouvel interval pour les tailles au dela de 992px */
    /* ici on ajoute le css pour reajouster l'affichage pour les ecrans superieur à 992px */
    .container {
        width: 90%;
    }

    section {
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }

    header {
        background-color: #d46d19;
    }

    footer {
        background-color: #d46d19;
    }

    section div {
        width: 41vh;
    }

    .zone2,
    .zone3 {
        background-color: lightgray;
    }

    .zone1,
    .zone4 {
        background-image: url(../img/img1.jpg);
        background-size: cover;
        /* avec cover l'image couvre la totalité du bloc (même si l'image est plus grande) */
    }
}
/* la fin de l'intervalle 992px */