/* MEDIA QUERIES permettant de ré-arranger la disposisition du site en fonction des tailles du navigateuren pixel */
.zone-adaptative{
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
}
@media (min-width: 768px) {
    .zone-adaptative {
        width: 750px;
        background: orange;
    }
}

 @media (min-width: 992px) {
     .zone-adaptative {
         width: 970px;
         background: blue;
     }
}

@media (min-width: 1200px) {
    .zone-adaptative {
        width: 1170px;
        background: green;
    }
}